/* font-family: 'work sans', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #60755b;
  --clr-light: #ffffff;
  --clr-dark: #000000;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) minmax(10rem, 22ch) minmax(10rem, 23ch)
    minmax(1em, 3fr) max-content;
}

body {
  margin: 1rem 2rem 1rem 2rem;
  font-family: "work sans", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-light);
  line-height: 1.6;
  background-color: #ecf1ea;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75em;
}

.btn-outline {
  outline: 3px solid var(--clr-dark);
  outline-offset: -3px;
  color: var(--clr-primary);
}

.btn-outline:hover {
  background-color: var(--clr-dark);
  outline-color: var(--clr-dark);
  color: var(--clr-light);
}

header {
  background-color: var(--clr-light);
  text-align: center;
}

.logo {
  margin-top: 1em;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 34rem;
  margin: 0 auto;
  padding: 1em;
  list-style: none;
  font-size: 0.875;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav-list-item {
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link {
  color: var(--clr-dark);
  border-bottom: var(--clr-dark);
}

.nav-link:hover {
  background-color: var(--clr-primary);
}

.main {
  padding: 3em 1em 10rem;
  
.main-content {
  background: var(--clr-primary) url(../images/profile-portfolio1.jpeg);
  background-size: cover;
  position: absolute;
  border: 3px solid var(--clr-primary);
}
.main-title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 2em;
  margin-bottom: 1.75em;
}

/* media query begins */
@media (min-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: var(--grid);
    justify-items: start;
    padding: left 0;
    padding-right: 0;
  }
  .main > * {
    grid-column: 2/3;
  }
  .main-content {
    background-position: left bottom;
  }
}

@media (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
  }
  .logo,
  .nav {
    grid-row: 1;
    margin: 0;
  }
  .logo {
    grid-column: 2;
  }
  .nav {
    grid-column: 2 /5;
    justify-self: center;
    margin-right: 3em;
  }
}

@media (min-width: 1200px) {
  .main-content {
    grid-area: 2 / 1 / span 2 / span 3;
  background-position: center right;
  }

}

/* .to-be1 {
  display: grid;
  grid-template-columns: main-content, 1fr;
  background: var(--clr-dark);
  color: var(var(--clr-light));
  width: max-content;
  margin: 0.5em auto -1em;
  position: relative;
  z-index: 1;
} */

/* .to-be1-icon {
  grid-row: span 2;
  background-color: var(--clr-primary);
  padding: 0.5em;
  display: flex;
} */

/* .to-be1-info {
  margin: 0;
  margin-left: 0.75rem;
  text-align: left;
  color: #ffffffb3;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.to-be1-info span {
  color: var(--clr-light);
  margin-right: 0.75rem;
  font-size: 1rem;
  text-transform: none;
  margin-left: 1em;
}
.to-be1-info:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.to-be1-info:first-of-type::after {
  content: "";
  position: relative;
  background: var(--clr-light);
  opacity: 0.25;
  height: 2.5px;
  width: (100% - 0.75rem);
  bottom: -0.25rem;
}

.to-be1-info:last-of-type {
  margin-bottom: 0.5rem;
}
 /* .to-be1 {
    grid-column: -2px / -1px;
    justify-self: end;
    margin: 0;
  } */
/* .btn + .btn {
  margin-left: 1em;
} */
/* .btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn--primary:hover {
  background-color: var(--clr-dark);
} */

/* 
.main-intro {
  margin-bottom: 4em;
} */
